**/*.csproj
**/*.sln
**/*~
**/[oO]bsolete/
/ignore.conf
/[tT]emp/**
/[oO]bj/**
/[lL]ogs/**
/[lL]ibrary/**
/[cC]ache/**
/[bB]uilds/**
/.plastic/**
/.idea/**
/Assets/Plugins/Proprietary/AVProVideo/**
/Assets/Plugins/Proprietary/Demigiant/**
/Assets/Plugins/Proprietary/Directus/**
/Assets/Plugins/Proprietary/Fingers/**
/Assets/Plugins/Proprietary/Graphy/**
/Assets/Plugins/Proprietary/IDC/**
/Assets/Plugins/Proprietary/MPUIKit/**
/Assets/Plugins/Proprietary/Piglet/**
/Assets/Plugins/Proprietary/RainbowAssets/**
/Assets/Plugins/Proprietary/Shapes/**
/Assets/Plugins/Proprietary/CodeStage*
/Assets/Plugins/Proprietary/Sirenix/**
/Assets/Exploratorium/[pP]refabs/Earth*
/Assets/Exploratorium/Scripts/[dD]isabled*
